.contact-info {
    background-color:rgb(121, 139, 108);
    width: 32%;
    margin: auto;
    padding: 30px;
    border-radius: 10%;
    color:whitesmoke;
    margin-top: 20px;
  }


.headshot {
  margin-top: 5%;
  border-radius: 50%;
}

.icon {
    height: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 20%;
  }

.links {
    color:white;
  }

.portfolio{
  background-color:rgb(121, 139, 108);
  width: 50%;
  margin: auto;
  padding: 40px;
  border-radius: 10%;
  text-align: center;
  color:whitesmoke;
}

.port-image{
  width: 800px;
  margin:auto
}

.text{
  margin-top: 5%;
  background-color: rgb(121, 139, 108);
  color:whitesmoke;
}

#aboutMe{
  position: relative;
}

@media screen and (max-width:992px) {
  .headshot { 
    margin-left:10%;
  }
 .text {
    width:80%;
  }
  .contact-info {
    width:80%;
    margin-bottom: 20px;
  }
  .portfolio {
    width:90%;
  }
}

@media only screen and (max-width: 667px) {
  .headshot { 
    margin-left:10%;
  }
 .text {
    width:70%;
  }
  .contact-info {
    width:80%;
    margin-bottom: 20px;
  }
  .portfolio {
    width:90%;
  }
}

@media only screen and (max-width: 375px) {
  .headshot { 
    margin-left:10%;
  }
 .text {
    width:70%;
  }
  .contact-info {
    width:80%;
    margin-bottom: 20px;
  }
  .portfolio {
    width:90%;
  }
}