
.contact-info {
    background-color:rgb(121, 139, 108);
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10%;
  }
.icon {
    height: 40px;
    margin-bottom: 5px;
    border-radius: 20%;
  }

.links {
    color:white;
  }
